@import "../../styles.css";

.containerHeader{
    position:relative;
}

.home-header-h1{
    width: 30%;
    height: 30%;
    position: absolute;
    fill: #ffffff;
}
@media screen and (min-width:1000px) {
    .home-header-h1{
        top:100px;
        left: 150px;
    }
    
}

.imagesHeader{
    height: auto;
    width: 100vw;
}

.eventsContainerTitle{
    display: flex;
    margin: 20px 0 20px 50px;
    position: relative;
}

.titleListEvents{
    font-size: var(--title-font-size);
}

.titleOtherColor{
    color:var(--accent-color)
}

.eventsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 0 0 15px;
    width: 100%;
}

.eventsContainer > article {
    box-shadow: 10px 10px 62px -8px rgba(166,166,166,1);
    margin: 10px;
    padding: 30px;
}

.eventsContainer > article:hover {
    box-shadow: 10px 10px 62px -8px rgb(94, 93, 93);
    margin: 10px;
    padding: 30px;
}

.blur{
    width: 100%;
    border: none;
    height: 100%;
}

